<div class="container">
    <h3>Liste des Modules</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Libelle</th>
          <th scope="col">Formateur</th>
          <th scope="col">Date Début</th>
          <th scope="col">Date Fin</th>
          <th scope="col">Filière</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let module of modules">
          <th scope="row">{{module.id}}</th>
          <td>{{ module.libelle}}</td>
          <td> 
            <span *ngIf="module.formateur isNotNull">{{ module.formateur.prenom}} {{ module.formateur.nom}}</span>
            <span *ngIf="module.formateur == null">Non défini</span>
          </td>
          <td>{{ module.dateDebut}}</td>
          <td>{{ module.dateFin}}</td>
          <td> 
            <span *ngIf="module.filiere isNotNull">{{ module.filiere.libelle}}</span>
            <span *ngIf="module.filiere == null">Non défini</span>
          </td>
          <td class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary">Modifier</button>
            <button type="button" class="btn btn-danger">Supprimer</button>
          </td>
        </tr>
  
      </tbody>
    </table>
    
  </div>
  