<div class="container">
  <h3>Liste des Filières</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Libelle</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let filiere of filieres">
        <th scope="row">{{filiere.id}}</th>
        <td><a routerLink="/filiere/infos/{{filiere.id}}">{{ filiere.libelle}} </a></td>
        <td class="d-flex justify-content-end">
          <a href="/filiere/form/{{filiere.id}}"><button type="button" class="btn btn-primary">Modifier</button></a>
          <button type="button" class="btn btn-danger" (dblclick)="handleDelete(filiere)">Supprimer</button> (double Clique pour supprimer)
        </td>
      </tr>

    </tbody>
  </table>
  
</div>


