<h2>MENU</h2>

<ul>
    <li>
        <a [routerLink]="['/filiere']">Filiere</a>
    </li>
    <ul>
      <li>
          <a [routerLink]="['filiere/list']">Filiere List (find all)</a>
      </li>
      <li>
        <a [routerLink]="['filiere/form']">Ajout d'une Filière (insert)</a>
      </li>
    </ul>

    <li>
      <a [routerLink]="['/module']">Module</a>
  </li>
  <ul>
    <li>
        <a [routerLink]="['module/list']">Module List (find all)</a>
    </li>
    <li>
      <a [routerLink]="['module/form']">Ajout d'un Module (insert)</a>
    </li>
  </ul>

</ul>

<router-outlet></router-outlet>

