
<div *ngIf="filiere != null">
    <h2>Filière:  {{ filiere.libelle}}</h2>

    <div class="container">
        <h3>Liste des Modules</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Libelle</th>
              <th scope="col">Formateur</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let module of filiere.modules">
              <th scope="row">{{module.id}}</th>
              <td>{{ module.libelle}}</td>
              <td> 
                <span *ngIf="module.formateur isNotNull">{{ module.formateur.prenom}} {{ module.formateur.nom}}</span>
                <span *ngIf="module.formateur == null">Non défini</span>
              </td>
              <td class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary">Modifier</button>
                <button type="button" class="btn btn-danger">Supprimer</button>
              </td>
            </tr>
      
          </tbody>
        </table>
        
      </div>
    

</div>

