
<div class="container">

  <h3 *ngIf="urlFiliereId == null ">Ajout d'une Filière</h3>
  <h3 *ngIf="urlFiliereId != null ">Modification d'une Filière</h3>
  
  <form (submit)="handleSubmit()" #myform="ngForm">
    <p>ID : {{filiere.id}}</p>
      <input name="libelle" type="text"
            [(ngModel)]=filiere.libelle
            placeholder="enter at least 1 char."
            #libelle="ngModel"
            minlength="1"
            required/>
      <span *ngIf="libelle.invalid && (libelle.dirty || libelle.touched)">Invalid : Enter at least 1 character ...</span>

      <div  *ngIf="urlFiliereId != null"> 
        <p> Modules: </p>
        <ul>
          <li *ngFor="let module of filiere.modules">{{module.libelle}}</li>

        </ul>
      </div>

      <button [disabled]="myform.invalid">Enregistrer</button>
  </form>
</div>
