<h2>Module Form</h2>

<div class="container">

    <h3 *ngIf="urlModuleId == null ">Ajout d'un Module</h3>
    <h3 *ngIf="urlModuleId != null ">Modification d'un Module</h3>
    

    <ng-container [formGroup]="moduleForm">
      <label>
          Libelle
          <input type="text" formControlName="libelle" [(ngModel)]="module.libelle"/> 
          <!-- <input [(ngModel)]="module.libelle" [ngModelOptions]="{standalone: true}"> -->
  
      </label>
      <br>
      <label>
          Date de début
          <input type="text" formControlName="dateDebut" [(ngModel)]="module.dateDebut" placeholder="AAAA-MM-JJ"/> 
  
      </label>
      <br>
      <label>
          Date de Fin 
          <input type="text" formControlName="dateFin" [(ngModel)]="module.dateFin" placeholder="AAAA-MM-JJ"/> 
  
      </label>
      <br>
      <label>
        Filiere
      <select   formControlName="filiere" [(ngModel)]="module.filiere">
          <option value=''>Filiere</option>
          <option *ngFor="let filiere of filieres" value="{{filiere}}" >{{filiere.libelle}}</option>
      </select> 

      </label>


      <button [disabled]="moduleForm.invalid" (click)="handleSubmit()">Enregistrer</button>
      <div>{{module | json}}  <p *ngIf="module.filiere isNotNull">libelle fill: {{module.filiere.libelle}}</p></div>
  </ng-container>

 
    
</div>
